.user-details-page-wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}

.user-details-header {
    text-align: center;
}

.user-details-header > h2 {
    color: var(--color-midnight);
}