.loader-wrapper {
    width: 100%;
    display: contents;
}

.card-view-wrapper__loading {
    border-radius: 8px;
    padding: 12px 16px;
    border: 1px solid #f4f4f4;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.04);
    background: #ffffff;
    margin: 0 10px 10px;
    cursor: pointer;
    width: 20%;
}

.card-view-wrapper__loading .card-view-field__loading {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    flex-direction: column;
    margin: 10px 0;
}


.card-view-wrapper__loading .card-view-field__loading .card-view-field__label,
.card-view-wrapper__loading .card-view-field__loading .card-view-field__value {
    background: #ececec;
    pointer-events: none;
    color: transparent !important;
    border-radius: 8px;
    height: 8px;
    margin-bottom: 10px;
}